ion-toolbar{
  --color: white;
  --background: rgb(118,45,255);
  --background: linear-gradient(180deg, rgb(45, 111, 255) 20%, rgb(40, 95, 214)68%);
  box-shadow: 4px 4px 8px rgba(201, 201, 201, 0.8);
}

ion-title.title-small {
  font-size: 12px;  
}

ion-title{
  font-weight: bold;
}

ion-buttons{
  position: absolute;
  padding-left: 10px;
  z-index: 1;
}