<ion-tabs>

  <ion-tab-bar slot="bottom" class="padding">

    <ion-tab-button tab="ejemplo-translate">
      <ion-icon name="language"></ion-icon>
      <ion-label>Translate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ejemplo-form">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Form</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ejemplo-plugin-capacitor">
      <ion-icon name="logo-capacitor"></ion-icon>
      <ion-label>Capacitor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ejemplo-params">
      <ion-icon name="arrow-redo"></ion-icon>
      <ion-label>Params</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ejemplo-web-service">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>REST</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>