// Para sacar screenshot es de la pantalla sceptre 150%

.card {
  border: 10px solid black;
  height: 210px;
  width: 210px;
}

.name {
  font-size: 1.1em;
  color: white;
}

.padding {
  padding: 1px;
}

.img {
  height: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.type {
  font-size: 0.7em;
  color: white;
  background: rgb(66, 66, 66);
  border-radius: 5px;
  padding: 0.2em;
}

.pknumber {
  color: grey;
  font-size: 0.7em;
  position: absolute;
}

.points {
  padding: 4px;
  color: white;
  border-radius: 5px;
  font-size: 1em;
}

.attack-points {
  background: rgb(172, 30, 30);
}

.help-points {
  background: rgb(30, 163, 30);
}

.info-card {
  // border: 10px rgb(7, 10, 36) solid;
  background: rgb(31, 38, 71);
  height: 35%;
}

.name-container {
  position: relative;
  padding: 0.2em;
}

.background-flying {
  background: url('/assets/img/background-flying.png') 0 0/100% 100% no-repeat;
}

.background-ghost {
  background: url('/assets/img/background-ghost.png') 0 0/100% 100% no-repeat;
}

.background-fire {
  background: url('/assets/img/background-fire.png') 0 0/100% 100% no-repeat;
}

.background-water {
  background: url('/assets/img/background-water.png') 0 0/100% 100% no-repeat;
}

.background-ground {
  background: url('/assets/img/background-ground.png') 0 0/100% 100% no-repeat;
}

.background-psychic {
  background: url('/assets/img/background-psychic.png') 0 0/100% 100% no-repeat;
}

.background-normal {
  background: url('/assets/img/background.png') 0 0/100% 100% no-repeat;
}
