<ion-content>

  <ion-row>

    <ion-col class="padding" size="3" *ngFor="let pokemon of pokemons">
      <div class="card">
        <!-- <img *ngIf="pokemon.imgUri != null" [src]="pokemon.imgUri" alt="" width="100%"> -->
        <img *ngIf="pokemon.imgUri != null" [src]="pokemon.imgUri" alt="" class="img">

        <ion-row class="info-card">
          <ion-col size="8">
            <div class="ion-text-center name-container">
              <div class="ion-text-center"><strong class="name">{{pokemon.name | titlecase}}</strong><span
                  class="pknumber">
                  #{{pokemon.number}}</span>
              </div>
            </div>
            <ion-row class="ion-text-center">
              <ion-col size="2"></ion-col>
              <ion-col *ngFor="let type of pokemon.types">
                <div class="type">
                  {{type | titlecase}}
                </div>
              </ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <div class="points attack-points">
              <strong>
                <ion-icon name="skull-outline"></ion-icon> {{pokemon.attackPoints}}
              </strong>
            </div>
            <div class="padding"></div>
            <div class="points help-points">
              <strong>
                <ion-icon name="rocket-outline"></ion-icon> {{pokemon.helpPoints}}
              </strong>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

</ion-content>