.card {
    border: 10px solid black;
    height: 520px;
    width: 470px;
}

.name {
    font-size: 2.2em;
}

.padding {
    padding: 2px;
}

.img {
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.type {
    font-size: 1.2em;
    color: white;
    background: rgb(66, 66, 66);
    border-radius: 5px;
    padding: .5em;
}

.pknumber {
    color: grey;
    font-size: 1.2em;
}

.points {
    padding: 4px;
    color: white;
    border-radius: 5px;
    font-size: 2.4em;
}

.attack-points {
    background: rgb(172, 30, 30);
}

.help-points {
    background: rgb(30, 163, 30);
}

.info-card {
    background: rgb(233, 233, 233);
    height: 30%;
}

.name-container {
    padding: .5em;
}

.tipo {
    font-size: 1.2em;
}